/* mobile nav */

.mobile-nav-item {
  float: left;
  cursor: pointer;
  padding: 0.125rem 0.25rem;
  background-color: #fafafa;
}

.mobile-nav-item .subtitle {
  color: inherit;
}

.mobile-nav-item {
  margin-right: 0.5rem;
}

input[name="tabs"] {
  display: none;
}
  
input[name="tabs"]:checked + .mobile-nav-item {
  text-decoration: underline;
  color: white;
  background-color: #aaaaaa;
}
  
input[id="guide-tab"]:checked ~ .columns.content .column#guide,
input[id="essais-tab"]:checked ~ .columns.content .column#essais {
  display: block;
}

.columns.content {
  clear: both;
  padding-top: 1.5rem;
}

.columns.content .column {
  display: none;
}

/* end mobile nav */

.placeholder {
  color: #aaaaaa;
  font-style: italic;
}

.columns.content .column .subtitle {
  font-weight: normal;
}

.columns.content .column > :not(:last-child) {
  margin-bottom: 1.5rem;
}

.columns.content .column > .is-4 {
  margin-bottom: 3rem;
}

.card-wrapper {
  display: block;
}

.card-wrapper:hover .card {
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.25),0 0 0 1px rgba(10,10,10,.05);
}

.card-wrapper .card .card-header {
  align-items: start;
}

.card-wrapper .card .card-header .card-header-title {
  display: block;
}

.card-wrapper .card .card-header .card-header-title:not(:last-child) {
  padding-right: 0;
}

.card-wrapper .card .card-header .card-header-title .p-author .h-card:not(:last-child)::after {
  content: ',';
}

.card-wrapper .card .card-header .card-header-title .p-author:not(:last-child)::after {
  content: ':';
}

.card-wrapper .card .card-header .card-header-title .dt-published::before {
  content: '(';
}

.card-wrapper .card .card-header .card-header-title .dt-published::after {
  content: ')';
}

.card-wrapper .card .card-header .card-header-icon .icon .fa {
  color: #aaaaaa;
}

.card-wrapper:hover .card .card-header .card-header-icon .icon .fa {
  color: inherit;
}

.footer {
  padding: 3rem 1.5rem;
}

/* responsive */

@media all and (min-width: 1024px) {
  .header {
    padding-bottom: 1.5rem;
  }

  .meta {
    margin-bottom: 1.5rem;
  }

  #guide {
    padding-right: calc(var(--columnGap) - 1px);
  }
  
  #essais {
    border-left: 1px dotted black;
  }

  .column > .is-5:not(:first-child) {
    margin-top: 3rem;
  }

  .columns.content {
    clear: none;
    padding-top: 0;
  }

  .columns.content .column {
    display: block;
  }
}
